<!DOCTYPE html>
<html>
<head>
    <title>受講生登録</title>
</head>
<body>
<h1>受講生登録</h1>
<form th:action="@{/registerStudent}" th:object="${studentDetail}" method="post">
    <div>
        <label for="name">名前：</label>
        <input type="text" id="name" th:field="*{student.name}" required/>
    </div>
    <div>
        <label for="kana_name">フリガナ：</label>
        <input type="text" id="kana_name" th:field="*{student.kanaName}" required/>
    </div>
    <div>
        <label for="email">email：</label>
        <input type="text" id="email" th:field="*{student.email}" required/>
    </div>
    <div>
        <label for="course_name">コース名：</label>
        <input type="text" id="course_name" th:field="*{studentsCourses[0].courseName}" required/>
    </div>
    <div>
        <button type="submit">登録</button>
    </div>

</form>
</body>
</html>