<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>コース一覧</title>
</head>
<body>
<h1>コース一覧</h1>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>受講生ID</th>
        <th>コース名</th>
        <th>受講開始日</th>
        <th>受講修了予定日</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="sc : ${studentList}">
        <td th:text="${sc.id}">1</td>
        <td th:text="${sc.studentsId}">1</td>
        <td th:text="${sc.courseName}">javaコース</td>
        <td th:text="${sc.courseStartAt}">2025-11-11 12:00:00</td>
        <td th:text="${sc.courseEndAt}">2026-07-07 23:59:59</td>
    </tr>
    </tbody>
</table>
</body>
</html>